@using SysGeSeApp2024.Models.ViewModel
@using SysGeSeApp2024.Models.Enums
@model AcessoViewModel
@{
    ViewBag.Title = "Incluir";
}
<form asp-controller="Acesso" asp-action="Incluir" class="row p1">
    <div class="card p-0">
        <div class="card-header p-2">
            <span class="prn-font-card-header fw-semibold">Cadastro de Acesso</span>

            <a asp-controller="Acesso" asp-action="Index" class="float-end btn btn-outline-danger mr-1 btn-sm"><i class="fa-duotone fa-ban"></i>&nbsp; Cancelar</a>
            <button type="submit" class="float-end btn mr-1 btn-outline-primary  btn-sm"><i class="fa-duotone fa-floppy-disk"></i>&nbsp;Salvar</button>

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <label asp-for="IdTabela" class="form-label form-label-sm">Perfil</label>

                    <select asp-for="IdPerfil" asp-items='new SelectList(Model.Perfis, "Id", "Descricao")' class="form-select form-control-sm" data-val="True">
                        <option value=""null"" selected>ESCOLHA UM PERFIL</option>
                    </select>
                    <span asp-validation-for="IdPerfil" class="text-danger"></span>

                </div>
              
                <div class="col-lg-6">
                    <label asp-for="IdTabela" class="form-label form-label-sm">Tabela</label>
                    <select asp-for="IdTabela" class="form-select form-control-sm" disabled>
                        <option value="" selected>ESCOLHA UMA TABELA</option>
                    </select>
                    <span asp-validation-for="IdTabela" class="text-danger"></span>
                </div>

            </div>
            <div class="row mt-3">
               
                <div class="col-6">
                    <label  class="form-label">Permissões para a Tabela</label>
                        <div class="border rounded" style="padding: 0.11rem !important;">
                            <div class="form-check form-check-inline">
                            <input asp-for="TabelaVisualizar" class="form-check-input ml-2" type="checkbox">
                            <label class="form-check-label" asp-for="TabelaVisualizar">
                                    Visualizar
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input asp-for="TabelaInserir" class="form-check-input" type="checkbox">
                            <label class="form-check-label" asp-for="TabelaInserir">
                                    Incluir
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input asp-for="TabelaAlterar" class="form-check-input" type="checkbox" >
                            <label class="form-check-label" asp-for="TabelaAlterar">
                                    Alterar
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input asp-for="TabelaExcluir" class="form-check-input" type="checkbox" >
                            <label class="form-check-label" asp-for="TabelaExcluir">
                                    Excluir
                                </label>
                            </div>
                        </div>

                </div>
                <div class="col-3">
                   
                        <label asp-for="DataCad" class="form-label">Data do Cadastro</label>
                    <input asp-for="DataCad" class="form-control form-control-sm" readonly style="background-color: #e9ecef; cursor: not-allowed;" />
                       
                  
                </div>
                <div class="col-3">

                    <label asp-for="StatusString" class="form-label">Status</label>
                    <input asp-for="StatusString" class="form-control form-control-sm" readonly style="background-color: #e9ecef; cursor: not-allowed;" />


                </div>

            </div>
              
                
            
            
            <div class="row mt-3">
                <div class="col-lg-12">
                    <label asp-for="TabelaObservacao" class="form-label">Observações</label>
                    <textarea rows="6" asp-for="TabelaObservacao" class="form-control form-control-sm" placeholder="Digite as Observações a respeito desse registro." data-val="True" onkeyup="maiuscula(this);"></textarea>
                  
                </div>
            </div>


        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#IdPerfil').on('change', function () {
                var idPerfil = $(this).val();

                // Limpar as opções atuais do select de tabelas
                $('#IdTabela').prop('disabled', true);
                $('#IdTabela').empty().append('<option value="">ESCOLHA UMA TABELA</option>');

                if (idPerfil) {
                    $.ajax({
                        url: '/Acesso/ObterTabelasDisponiveis', // Atualize com a rota correta
                        type: 'GET',
                        data: { idPerfil: idPerfil },
                        success: function (data) {
                            if (data && data.length > 0) {
                                // Popula o select de tabelas se houver opções
                                $.each(data, function (i, tabela) {
                                    $('#IdTabela').append($('<option>', {
                                        value: tabela.id,
                                        text: tabela.tabelaDesc
                                    }));
                                });
                                // Habilitar o select após o carregamento
                                $('#IdTabela').prop('disabled', false);
                            } else {
                                // Exibir alerta se não houver tabelas disponíveis
                                alert('TODAS AS TABELAS JÁ ESTÃO PRESENTES NESTE PERFIL.');
                                
                            }
                        },
                        error: function () {
                            alert('Erro ao carregar tabelas.');
                        }
                    });
                }
            });
        });
    </script>
</form>

